.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  height: 50px;
  width: auto;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-name {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
}

.company-slogan {
  font-size: 10px;
  color: #666;
  align-self: flex-end;
  margin-top: 2px;
}